.header-container-temp {
    display: flex;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: #F0E9E9;
    width: 100%;
}
.items {
    margin: 0 10px;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}
.header-container {
    background-color: #FFD333;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    margin: 0 auto;
}

.header-container .left-side {
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.header-container .left-side .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 10px;
    color: #000000;
    font-size: 20px;
}

.header-container .middle-side {
    width: 50%;
}
.header-container .right-side {
    display: flex;
    width: 15%;
}

.header-container .right-side .child-items {
    margin: 0 10px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        // color: #fff;
    }
}


.no-border {
    border-radius: 0;
}

.search-btn {
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    height: 40px !important;
    background-color: #343A40 !important;
    border-color: #428D60 !important;
    color: #428D60 !important;
}