.cate-item {
    display: flex;
    padding: 15px;

    &:hover {
        background-color: #B59628;
        cursor: pointer;
    }
}

.cate-item-name {
    width: 90%;
    font-size: 15px;
}

.cate-item-arrow {
    width: 10%;
}

.active {
    background-color: #B59628;
}