.cate-item {
    display: flex;
    padding: 15px;
    &:hover {
        background-color: #B59628;
    }
}

.cate-item-name {
    width: 90%;
    font-size: 15px;
}
.cate-item-arrow{
    width: 10%;
}