.carousel-items {
    height: 350px;
    background-color: #343A40;
    padding: 20px;
    color: #ffffff;
}
.carousel-items-img {
    width: 20%;
}

.carousel .control-prev.control-arrow {
    left: 30px !important;
}
.carousel .control-next.control-arrow{
    right: 30px !important;
}

.carousel .carousel-status{
    display: none;
}