.css-ahj2mt-MuiTypography-root {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.type-order-child {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(90, 90, 90, 0.4);
    margin: 5px 0px;
}